* {
  padding: 0%;
  margin: 0%;
  font-family: sans-serif;

  .container {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #fbc9c4;

    .card {
      width: 100%;
      border-radius: 1em;
      background: #f6eef1;
      border: 2px solid black;

      > div:nth-child(1) {
        background: #ff839a;
        padding: 1em 0;
        display: flex;
        border-radius: 0.8em 0.8em 0 0;

        h2 {
          background: #fbc9c4;
          border: 2px solid #a34555;
          margin: 0 0.6em;
          padding: 0.25em 1em;
          border-radius: 2em;
          color: #2c0d16;
          font-style: italic;
        }
      }

      > div:nth-child(2) {
        display: flex;
        flex-direction: row;
        padding: 1em;
        justify-content: space-between;

        > div {
          width: 48%;
        }

        > div:nth-child(1) {
          display: flex;
          flex-direction: column;
          gap: 0.8em;

          > div:nth-child(1) {
            img {
              border: 2px solid #341e3a;
              border-radius: 1em;
              width: 100%;
              height: 100%;
              box-shadow: 0 2px 5px rgb(201, 200, 200);
            }
          }

          > div:nth-child(2) {
            border: 2px solid #341e3a;
            padding: 1em 0.5em;
            border-radius: 1em;
            background: #ff839a;
            justify-content: space-between;
            box-shadow: 0 2px 5px rgb(201, 200, 200);
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            > h1 {
              font-size: 14px;
              font-style: italic;
              color: wheat;
              text-decoration-line: underline;
            }

            > p {
              text-size-adjust: auto;
              font-size: 12px;
              color: white;
              text-wrap: balance;
            }
          }
        }

        > div:nth-child(2) {
          display: flex;
          flex-direction: column;
          gap: 1.5em;

          > div:nth-child(1) {
            display: flex;
            flex-direction: column;
            gap: 1.5em;

            p {
              font-size: x-large;
              border: 2px solid #341e3a;
              border-radius: 1em;
              padding: 0 0.5em;
              color: #341a27;
              box-shadow: 0 2px 5px rgb(201, 200, 200);
            }
          }

          > div:nth-child(2) {
            display: flex;
            border: 2px solid #341e3a;
            padding: 1em 0.5em;
            border-radius: 1em;
            justify-content: space-between;
            box-shadow: 0 2px 5px rgb(201, 200, 200);

            img {
              cursor: pointer;
              transition: transform 0.3s ease-out;
              &:hover {
                transform: translateY(-5px);
              }
            }
          }
        }
      }

      @media (width >= 1024px) {
        width: 26%;
      }
    }
  }
}
